[Desktop Entry]
Version=1.0
Type=Application
Name=Password Manager
Comment=Local Password Manager using OpenSSL
Exec=XPwm
Icon=XPwm
Categories=Utility;
